language: php

php:
  - 5.5
  - 5.6
  - 7.0
  - hhvm

env:
  - GUZZLE_VERSION="6.0"

before_script: composer install

install:
  - composer require guzzlehttp/guzzle:${GUZZLE_VERSION}

matrix:
  allow_failures:
    - php: hhvm
    - php: 7.0
  fast_finish: true